.sml-chart{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.sml-chart .flexwrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sml-chart .sml-title{
    text-align: center;
    font-size: 32px;
}
.sml-chart .sml-title::first-letter{
    text-transform: capitalize;
}
.wrapp section.big-chart{
    height: 650px;
    width: 100%;
}
.wrapp section.big-chart .big-title{
    text-align: center;
    font-size: 32px;
}
.wrapp section.big-chart div.big-chart-flex{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media only screen and (min-width:651px) and (max-width:1100px){
    .sml-chart .flexwrap{
        flex-flow: column;
    }
}
@media only screen and (max-width:650px){
    .sml-chart .flexwrap{
        flex-flow: column;
    }
    .wrapp section.big-chart{
        height: 900px;
        width: 100%;
    }
    .wrapp section.big-chart div.big-chart-flex{
        height: 800px;
        flex-flow: column;

    }
    .sml-chart .sml-title, .wrapp section.big-chart .big-title {
        font-size: 24px;
    }
}