.sml-chart{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.sml-chart .flexwrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sml-chart .sml-title{
    width: 100%;
    text-align: center;
    font-size: 32px;
}
.sml-chart .sml-title::first-letter{
    text-transform: capitalize;
}
.wrapp section.big-chart{
    height: 650px;
    width: 100%;
}
.wrapp section.big-chart .big-title{
    text-align: center;
    font-size: 32px;
}
.wrapp section.big-chart div.big-chart-flex{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
