.bigchart-cont{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    box-shadow: 0 0 10px rgb(121, 121, 121);
    border-radius: 15px;
}
.bigchart-cont h2{
    width: 100%;
    padding: 0 0 0 35px;
}

@media only screen and (min-width:401px) and (max-width:1100px){
    .bigchart-cont{
        width: 350px;
        height: 350px;
    }
}
@media only screen and (max-width:400px){
    .bigchart-cont{
        width: 275px;
        height: 275px;
    }
}