.wrapp .foot{
    height: 50px;
    width: 100%;
    background-color: rgb(39, 26, 9);
    color: white;
    text-align: center;
}
.wrapp .foot p{
    line-height: 50px;
}
@media only screen and (max-width:400px){
    .wrapp .foot{
        height: 40px;
    }
    .wrapp .foot p{
        line-height: normal;
    }
}